name: Serving Pipeline CI

# Trigger: Jalan setiap kali ada push ke branch main
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Ambil kode dari repo
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Siapkan Python
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    # 3. Install Library
    # Kita install library wajib biar script gak error
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint pandas scikit-learn mlflow xgboost requests
        # Kalau ada requirements.txt, install juga
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    # 4. CEK KUALITAS KODE (LINTING)
    # Ini syarat CI paling valid. Dia ngecek error syntax di semua file .py
    - name: Lint with pylint
      run: |
        # --disable=R,C,W artinya: Abaikan Refactor, Convention, DAN WARNING.
        # Jadi cuma error fatal yang bikin merah.
        pylint --disable=R,C,W *.py

    # 5. TEST RUN MODELLING (Opsional tapi Bagus)
    # Coba jalankan training sebentar untuk memastikan scriptnya jalan
    # Pastikan file 'modelling.py' dan 'data_sinkron.csv' ada di repo!
    - name: Run Training Test
      run: python modelling.py